/*
*
*20131229 Cui.Yingyun
*Vairous configuration to deploy the behavior of
*render machine.
*
*/

-Pure Non index mode cube with direct color passing-
    	 hasColorConstantPass 	0
    	 hasColorDirectPass 	1
    	 hasColorDirectPassCombimeVBO 0
    	 hasPreciMidium 	1
     	 hasRotation 	1
     	 hasScale 	0
       	 hasTranslation 	0
     	 hasOrthoProjection 0
    	 hasNDCVerticle 	1
    	 hasLighting 	0
      	 hasTexture2D 	0
     	 hasMipMap 	1
    	 hasBasicCubeFBO 	0
     	 hasVAO 	0
    	 hasSimTriangle 0
    	 hasCube	1
    	 hasCubeWithVBO	0
    	 hasCubeIndexModeWithoutVBO 	0
    	 hasBlenderObjectModel	0
     	 hasScissor	0
     	 hasBasicStencilOpe	0
     	 hasBasicDepthTest	0
     	 hasBasicMSAA	1
     	 hasBasicBlendingOpe	0
     	 hasGaussianBlur	0
      	 hasCullFace	1

-Pure texture 2d mapping CUBE rotation-
    	 hasColorConstantPass 	0
    	 hasColorDirectPass 	0
    	 hasColorDirectPassCombimeVBO 0
    	 hasPreciMidium 	1
     	 hasRotation 	1
     	 hasScale 	0
       	 hasTranslation 	0
     	 hasOrthoProjection 0
    	 hasNDCVerticle 	1
    	 hasLighting 	0
      	 hasTexture2D 	1
     	 hasMipMap 	1
    	 hasBasicCubeFBO 	0
     	 hasVAO 	0
    	 hasSimTriangle 0
    	 hasCube	1
    	 hasCubeWithVBO	0
    	 hasCubeIndexModeWithoutVBO 	1
    	 hasBlenderObjectModel	0
     	 hasScissor	0
     	 hasBasicStencilOpe	0
     	 hasBasicDepthTest	0
     	 hasBasicMSAA	1
     	 hasBasicBlendingOpe	0
     	 hasGaussianBlur	0
      	 hasCullFace	1

-Pure texture 2d, rectangle with screen coordination based-
   	 ===== Color pass =====
    	 hasColorConstantPass 	0
    	 hasColorDirectPass 	0
    	 hasColorDirectPassCombimeVBO 0
    	 hasPreciMidium 	1
   	 ===== Affine transform =====
    	 hasRotation 		0
     	 hasScale 		0
       	 hasTranslation 	0
     	 hasOrthoProjection 	1
    	 hasNDCVerticle 	0
   	 ===== Light and texture =====
    	 hasLighting 	0
      	 hasTexture2D 	1
     	 hasMipMap 	1
   	 ===== Buffer object =====
    	 hasBasicCubeFBO 	0
     	 hasVAO 		0
   	 ===== Polygon setup =====
    	 hasSimTriangle 	0
    	 hasRectangle 	1
    	 hasCube	0
    	 hasCubeWithVBO	0
    	 hasCubeIndexModeWithoutVBO 0
    	 hasBlenderObjectModel 	0
   	 ===== Fragment backend operation =====
    	 hasScissor		0
     	 hasBasicStencilOpe	0
     	 hasBasicDepthTest	0
     	 hasBasicMSAA		1
     	 hasBasicBlendingOpe	0
     	 hasCullFace		0
   	 ===== Image post-processing =====
    	 hasGaussianBlur	0


-Pure Texture2D, Rectanle, brightness changing-
    	 ===== Color pass =====
    	 hasColorConstantPass 	0
    	 hasColorDirectPass 	0
    	 hasColorDirectPassCombimeVBO 0
    	 hasPreciMidium 	1

   	 ===== Affine transform =====
    	 hasRotation 		0
     	 hasScale 		0
       	 hasTranslation 	0
     	 hasOrthoProjection 	1
    	 hasNDCVerticle 	0

   	 ===== Color Image Processing =====
    	 hasHuePP 		0
    	 hasBrightnessPP 	1
    	 hasContrastPP 		0
    	 hasSaturationPP 	0
    	 hasSharpnessPP 	0

   	 ===== Light and texture =====
    	 hasLighting 	0
      	 hasTexture2D 	1
     	 hasMipMap 	1

   	 ===== Buffer object =====
    	 hasBasicCubeFBO 	0
     	 hasVAO 		0

   	 ===== Polygon setup =====
    	 hasSimTriangle 	0
    	 hasRectangle 	1
    	 hasCube	0
    	 hasCubeWithVBO	0
    	 hasCubeIndexModeWithoutVBO 0
    	 hasBlenderObjectModel 	0

   	 ===== Fragment backend operation =====
    	 hasScissor		0
     	 hasBasicStencilOpe	0
     	 hasBasicDepthTest	0
     	 hasBasicMSAA		1
     	 hasBasicBlendingOpe	0
     	 hasCullFace		0

   	 ===== Image post-processing =====
    	 hasGaussianBlur	0


-Pure Texture2D Rectanle, GrayScale show, Luminance calculation-
    	 ===== Color pass ===== 
    	 hasColorConstantPass 	0
    	 hasColorDirectPass 	0
    	 hasColorDirectPassCombimeVBO 0
    	 hasPreciMidium 	1
     
   	 ===== Affine transform ===== 
    	 hasRotation 		0
     	 hasScale 		0
       	 hasTranslation 	0
     	 hasOrthoProjection 	1
    	 hasNDCVerticle 	0
    
   	 ===== Color Image Processing =====
    	 hasHuePP 		0
    	 hasBrightnessPP 	0
    	 hasContrastPP 		0
    	 hasSaturationPP 	0
    	 hasSharpnessPP 	0
    	 hasGrayscalePP 	1
    
   	 ===== Light and texture ===== 
    	 hasLighting 	0
      	 hasTexture2D 	1
     	 hasMipMap 	1
    
   	 ===== Buffer object ===== 
    	 hasBasicCubeFBO 	0
     	 hasVAO 		0
    
   	 ===== Polygon setup =====
    	 hasSimTriangle 	0
    	 hasRectangle 	1
    	 hasCube	0
    	 hasCubeWithVBO	0
    	 hasCubeIndexModeWithoutVBO 0
    	 hasBlenderObjectModel 	0
     
   	 ===== Fragment backend operation ===== 
    	 hasScissor		0
     	 hasBasicStencilOpe	0
     	 hasBasicDepthTest	0
     	 hasBasicMSAA		1
     	 hasBasicBlendingOpe	0
     	 hasCullFace		0
    
   	 ===== Image post-processing ===== 
    	 hasGaussianBlur	0



